@import "tailwindcss";

:root {
  --primary-background: #ffffff;
  --secondary-background: #f4f4ee;
  --accent-color: #6b8e23;
  --text-color: #2f4f4f;
  --color-background: var(--primary-background);
  --color-foreground: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
